<div class="row">
  <div class="col-xxxl-3 col-md-6">
    <nb-card>
      <div class="icon-container">
        <div class="icon status-primary">
          <i class="nb-lightbulb"></i>
        </div>
      </div>

      <div class="details">
        <div class="title h5">Testing 1</div>
        <div class="status paragraph-2">ON</div>
      </div>
    </nb-card>
  </div>

  <div class="col-xxxl-3 col-md-6">
    <nb-card>
      <div class="icon-container">
        <div class="icon status-success">
          <i class="nb-roller-shades"></i>
        </div>
      </div>

      <div class="details">
        <div class="title h5">Testing 1</div>
        <div class="status paragraph-2">OFF</div>
      </div>
    </nb-card>
  </div>

  <div class="col-xxxl-3 col-md-6">
    <nb-card>
      <div class="icon-container">
        <div class="icon status-info">
          <i class="nb-audio"></i>
        </div>
      </div>

      <div class="details">
        <div class="title h5">Testing 1</div>
        <div class="status paragraph-2">OFF</div>
      </div>
    </nb-card>
  </div>

  <div class="col-xxxl-3 col-md-6">
    <nb-card>
      <div class="icon-container">
        <div class="icon status-warning">
          <i class="nb-coffee-maker"></i>
        </div>
      </div>

      <div class="details">
        <div class="title h5">Testing 1</div>
        <div class="status paragraph-2">ON</div>
      </div>
    </nb-card>
  </div>
</div>
